html {
  height: 100%;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(pink, violet);
}

button {
  font-size: 7px;
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}

#list {
  margin: 10px;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}

#tasks {
  list-style: none;
  padding-inline-start: 0;
}

#tasks li {
  margin-bottom: 20px;
}

#tasks li .delete-tasks {
  border: 1px solid lightslategrey;
  padding: 0 4px 2px 3px;
  border-radius: 50%;
  background: pink;
  font-family: Verdana, sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: darkslategray;
  position: relative;
  bottom: 2px;
  cursor: pointer;
}
